---
import Layout from "../layouts/Layout.astro"
---

<Layout title="About">
  <section>
    <div>
      <h2>About Me</h2>
      <h3>My Journey in Visual Design and Web Development</h3>
      <hr>
    </div>
    

    <p>My journey into the world of visual design and web development began around 2010. Starting with studies in Graphic Design at Palm Beach State College and then Florida Atlantic University, I found my footing in the creative realm. During my university years, I worked part-time at Whole Foods Market. Here, I quickly advanced to leadership roles, managing various aspects of the Produce department in their South Florida stores.</p>

    <p>Seeking a career shift, I transitioned to a role as a Graphic Designer at a fast-paced automotive advertising agency. In this position, I crafted digital and print ads for automotive dealers across the US East Coast, developed HTML email templates, and assisted the video production team with off-site commercial shoots.</p>

    <p>While pursuing graphic design, I recognized the need for a personal portfolio site, which led me to delve into HTML and CSS. This newfound interest paved the way to a graphic design position with Kroger at their Vitacost.com website, where I focused on digital advertising. My responsibilities included creating corporate web banners, email designs, and UI/UX design, along with animation work.</p>

    <p>Throughout my career, I have collaborated with various design agencies and undertaken extensive freelance design projects for numerous well-known companies and organizations.</p>

    <p>More recently, I have shifted my focus towards web development. At K&N Engineering, I contributed to improving their homepage design and orchestrating a winter clearance event to drive sales. Currently, at ESPN, I am involved in a variety of projects, enhancing workflows, and developing component-based design systems.</p>

    <p>I am committed to continuous learning and skill development, always seeking to stay up-to-date with the ever-changing landscape of web development and design. Below is a list of tools I frequently use to keep current in this dynamic field.</p>

    

    <article>
      <h4>Current Online Learning Tools</h4>
      <hr>
      <a target="_blank" href="https://frontendmasters.com">Front End Masters</a>
      <a target="_blank" href="https://www.duolingo.com/course/zh/en/Learn-Chinese">Duolingo - Chinese</a>
    </article>

    <article>
      <h4>Recent Reading</h4>
      <hr>

      <a target="_blank" href="https://www.amazon.com/Walt-Disney-Neal-Gabler-audiobook/dp/B000KLPGP8">Walt Disney: The Triumph of the American Imagination</a>
      <a target="_blank" href="https://www.amazon.com/Finding-Ultra-Rich-Roll-audiobook/dp/B07BC2WKKR">Finding Ultra</a>
      <a target="_blank" href="https://www.amazon.com/Winning-Unforgiving-Race-Greatness/dp/B08LMH7K9H">Winning: The Unforgiving Race to Greatness</a>
    </article>

    <article>
      <h4>Current Reading</h4>
      <hr>

      <a target="_blank" href="https://www.amazon.com/JavaScript-7th-Definitive-Most-Used-Programming/dp/B0CFM5XR8Q">JavaScript (7th Edition): The Definitive Guide</a>
      <a target="_blank" href="https://www.amazon.com/Clean-Code-Handbook-Software-Craftsmanship/dp/B08X8ZXT15">Clean Code: A Handbook of Agile Software Craftsmanship</a>
      <a target="_blank" href="https://www.amazon.com/Gray-Hat-Hacking-Ethical-Handbook/dp/1264268947">Gray Hat Hacking: The Ethical Hacker's Handbook</a>
      <a target="_blank" href="https://www.amazon.com/Pragmatic-Programmer-Anniversary-Journey-Mastery/dp/B0833FBNHV">The Pragmatic Programmer</a>

    </article>

    <article>
      <h4>Frequented Podcasts</h4>
      <hr>

      <a target="_blank" href="https://podcasts.apple.com/us/podcast/syntax-tasty-web-development-treats/id1253186678">Syntax. Web Development</a>
      <a target="_blank" href="https://podcasts.apple.com/us/podcast/darknet-diaries/id1296350485">Darknet Diaries</a>
      <a target="_blank" href="https://podcasts.apple.com/us/podcast/html-all-the-things-web-development-web-design-small/id1412209136">HTML All The Things</a>
      <a target="_blank" href="https://podcasts.apple.com/us/podcast/js-party-javascript-css-web-development/id1209616598">JS Party</a>
      <a target="_blank" href="https://podcasts.apple.com/us/podcast/podrocket-a-web-development-podcast-from-logrocket/id1539945251">PodRocket</a>
    </article>
  </section>
  
</Layout>

<style lang="sass">
  p
    margin-top: 1rem
    
  article
    margin-top: 1rem
    background-color: lightgray
    padding: 1rem
    border-radius: 0.5rem

    a
      display: block

  hr
    margin-block: 0.5rem

    

</style>