---
import Layout from "../layouts/Layout.astro"
import Card from "../components/Card.astro"
---

<Layout title="Design">
  <section class="design">
    <h2>Design</h2>

    <div>
      <p>With 10+ years of professional design experience, I've established myself as an experienced and trusted designer. My approach is rooted in a scientific and theoretical understanding of design, prioritizing function and strategy over mere aesthetics. This approach has enabled me to successfully cater to a diverse range of clients, from small businesses and individual entrepreneurs to top-tier, Fortune 500 corporations, as well as thriving in the dynamic world of freelance. Below, you'll find a curated selection of my design work, showcasing my ability to blend creativity with practical design solutions.</p>

      <p class="todo">TODO: design tech stack</p>
    </div>

    
  
  
    <div class="scrolltrig">
      <video autoplay loop muted playsinline class="headshot">
        <source src="https://res.cloudinary.com/drxro4uha/video/upload/v1704223896/ezgif.com-gif-to-mp4-converter_oegvif.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      <h1>Garrett Siegel</h1>
      <h1>Garrett Siegel</h1>
      <h1>Garrett Siegel</h1>
      <h1>Garrett Siegel</h1>
      <h1>Garrett Siegel</h1>
      <h1>Garrett Siegel</h1>
      <h1>Garrett Siegel</h1>
      <h1>Garrett Siegel</h1>
      <h1>Garrett Siegel</h1>
      <h1>Garrett Siegel</h1>
      <h1>Garrett Siegel</h1>
      <h1>Garrett Siegel</h1>
      <h1>Garrett Siegel</h1>
      <h1>Garrett Siegel</h1>
      <h1>Garrett Siegel</h1>
      <h1>Garrett Siegel</h1>
      <h1>Garrett Siegel</h1>
      <h1>Garrett Siegel</h1>
      <h1>Garrett Siegel</h1>
      <h1>Garrett Siegel</h1>
      <h1>Garrett Siegel</h1>
      <h1>Garrett Siegel</h1>
      <h1>Garrett Siegel</h1>
      <h1>Garrett Siegel</h1>
  
    </div>
    
    <Card
			title="Kroger Design Work"
			href="/kroger"
			image="https://res.cloudinary.com/drxro4uha/image/upload/v1704861823/vitacost-email-mockup_draft1_kavy9b.jpg"
			alt=""
			subtitle=""
			body="In my tenure as a Digital Designer at Kroger, I specialized in creating visually engaging web banners and UI designs, with a keen focus on user experience. My work also extended to animation and motion design, adding a dynamic layer to digital content. This experience underscored my ability to blend creative design with practical functionality, catering to a wide audience."
			cta="Explore My Digital Design Journey at Kroger"
		/>

    <div class="todo">
      <p>todo: image carousel with descriptions</p>
    </div>

    <!-- <div class="design__grid">
      <div class="design__grid-item">
        <img src="https://res.cloudinary.com/drxro4uha/image/upload/v1691984722/abstract4_zzkkwq.jpg" alt="">
      </div>
      <div class="design__grid-item">
        <img src="https://res.cloudinary.com/drxro4uha/image/upload/v1691984722/abstract4_zzkkwq.jpg" alt="">
      </div>
      <div class="design__grid-item">
        <img src="https://res.cloudinary.com/drxro4uha/image/upload/v1691984722/abstract4_zzkkwq.jpg" alt="">
      </div>
      <div class="design__grid-item">
        <img src="https://res.cloudinary.com/drxro4uha/image/upload/v1691984722/abstract4_zzkkwq.jpg" alt="">
      </div>
      <div class="design__grid-item">
        <img src="https://res.cloudinary.com/drxro4uha/image/upload/v1691984722/abstract4_zzkkwq.jpg" alt="">
      </div>
      <div class="design__grid-item">
        <img src="https://res.cloudinary.com/drxro4uha/image/upload/v1691984722/abstract4_zzkkwq.jpg" alt="">
      </div>
      <div class="design__grid-item">
        <img src="https://res.cloudinary.com/drxro4uha/image/upload/v1691984722/abstract4_zzkkwq.jpg" alt="">
      </div>
      <div class="design__grid-item">
        <img src="https://res.cloudinary.com/drxro4uha/image/upload/v1691984722/abstract4_zzkkwq.jpg" alt="">
      </div>
      <div class="design__grid-item">
        <img src="https://res.cloudinary.com/drxro4uha/image/upload/v1691984722/abstract4_zzkkwq.jpg" alt="">
      </div>
      <div class="design__grid-item">
        <img src="https://res.cloudinary.com/drxro4uha/image/upload/v1691984722/abstract4_zzkkwq.jpg" alt="">
      </div>
      <div class="design__grid-item">
        <img src="https://res.cloudinary.com/drxro4uha/image/upload/v1691984722/abstract4_zzkkwq.jpg" alt="">
      </div>
      <div class="design__grid-item">
        <img src="https://res.cloudinary.com/drxro4uha/image/upload/v1691984722/abstract4_zzkkwq.jpg" alt="">
      </div>
      
    </div> -->



  </section>
</Layout>


<style lang="sass">

  .design
    &__carousel
      background-color: orange
      margin-block: 1.25rem
  .scrolltrig
    position: relative
    height: 100vh
    background-color: black
    overflow: hidden

    video
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      z-index: 999
      max-width: 300px
      border: 50px solid black
      border-radius: 50%

    
      

    h1
      font-size: 12vw
      color: white
      position: relative
      z-index: 100
      line-height: 0.7
      top: 0
      text-align: center

    h1:nth-child(2n)
      transform: rotateY(160deg)
      opacity: 0.5

  
</style>


<script>
  function experimentalFunction() {
    let scrolltrig = document.querySelector('.scrolltrig')

    let divs = []
    let divs2 = []
    let divs3 = []
    let divs4 = []
    let divs5 = []
    let divs6 = []
    let divs7 = []
    let divs8 = []
    let divs9 = []
    let divs10 = []
    let divs11 = []
    let divs12 = []
    let divs13 = []
    let divs14 = []
    let divs15 = []
    let divs16 = []
    let divs17 = []
    let divs18 = []
    let divs19 = []
    let divs20 = []

    for (let i = 0; i < 20; i++) {
      divs[i] = document.createElement('div')
      divs2[i] = document.createElement('div')
      divs3[i] = document.createElement('div')
      divs4[i] = document.createElement('div')
      divs5[i] = document.createElement('div')
      divs6[i] = document.createElement('div')
      divs7[i] = document.createElement('div')
      divs8[i] = document.createElement('div')
      divs9[i] = document.createElement('div')
      divs10[i] = document.createElement('div')
      divs11[i] = document.createElement('div')
      divs12[i] = document.createElement('div')
      divs13[i] = document.createElement('div')
      divs14[i] = document.createElement('div')
      divs15[i] = document.createElement('div')
      divs16[i] = document.createElement('div')
      divs17[i] = document.createElement('div')
      divs18[i] = document.createElement('div')
      divs19[i] = document.createElement('div')
      divs20[i] = document.createElement('div')
    }

    for (let i = 0; i < 20; i++) {
      divs[i].classList.add('divs')
      divs2[i].classList.add('divs2')
      divs3[i].classList.add('divs3')
      divs4[i].classList.add('divs4')
      divs5[i].classList.add('divs5')
      divs6[i].classList.add('divs6')
      divs7[i].classList.add('divs7')
      divs8[i].classList.add('divs8')
      divs9[i].classList.add('divs9')
      divs10[i].classList.add('divs10')
      divs11[i].classList.add('divs11')
      divs12[i].classList.add('divs12')
      divs13[i].classList.add('divs13')
      divs14[i].classList.add('divs14')
      divs15[i].classList.add('divs15')
      divs16[i].classList.add('divs16')
      divs17[i].classList.add('divs17')
      divs18[i].classList.add('divs18')
      divs19[i].classList.add('divs19')
      divs20[i].classList.add('divs20')
    }

    for (let i = 0; i < 20; i++) {
      scrolltrig.appendChild(divs[i])
      scrolltrig.appendChild(divs2[i])
      scrolltrig.appendChild(divs3[i])
      scrolltrig.appendChild(divs4[i])
      scrolltrig.appendChild(divs5[i])
      scrolltrig.appendChild(divs6[i])
      scrolltrig.appendChild(divs7[i])
      scrolltrig.appendChild(divs8[i])
      scrolltrig.appendChild(divs9[i])
      scrolltrig.appendChild(divs10[i])
      scrolltrig.appendChild(divs11[i])
      scrolltrig.appendChild(divs12[i])
      scrolltrig.appendChild(divs13[i])
      scrolltrig.appendChild(divs14[i])
      scrolltrig.appendChild(divs15[i])
      scrolltrig.appendChild(divs16[i])
      scrolltrig.appendChild(divs17[i])
      scrolltrig.appendChild(divs18[i])
      scrolltrig.appendChild(divs19[i])
      scrolltrig.appendChild(divs20[i])
    } 

    setInterval(() => {
      for (let i = 0; i < 20; i++) {
        divs[i].style.height = `${Math.floor(Math.random() * 100) + 25}px`
        divs[i].style.width = `${Math.floor(Math.random() * 100) + 25}px`
        if (divs[i].style.width < 20) {
          divs[i].style.width = '20px'
        }
        if (divs[i].style.height < 20) {
          divs[i].style.height = '20px'
        }
        divs[i].style.backgroundColor = `rgb(${Math.floor(Math.random() * 255)}, ${Math.floor(Math.random() * 255)}, ${Math.floor(Math.random() * 255)})`        
        
        divs[i].style.position = 'absolute'
        divs[i].style.top = `${Math.floor(Math.random() * 100)}%`
        divs[i].style.left = `${Math.floor(Math.random() * 100)}%`
        divs[i].style.transform = `translate(-${Math.floor(Math.random() * 100)}%, -${Math.floor(Math.random() * 100)}%)`
        divs[i].style.zIndex = `${Math.floor(Math.random() * 100)}`
      }
    }, 300)

    
  }

  experimentalFunction()


</script>