---
import Layout from "../layouts/Layout.astro"
import Card from "../components/Card.astro"
---

<Layout title="Design">
  <section class="design">
    <h2>Design</h2>

    <div>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem distinctio recusandae consectetur temporibus. Praesentium similique inventore ducimus consectetur quae, hic quibusdam in dolores? Fuga sunt repudiandae esse, necessitatibus iure iste ex optio aliquid quis incidunt magni placeat non ipsam porro officiis at quam a numquam quas, dolor doloremque! Blanditiis, possimus?</p>

      <p>TODO: design tech stack</p>
    </div>
    
    <Card
			title="Kroger Design Work"
			href="/kroger"
			image=""
			alt=""
			subtitle=""
			body="Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem minus accusantium natus placeat, consequatur sit id, explicabo itaque, beatae autem excepturi. Veritatis itaque possimus sit, asperiores optio animi, nesciunt eos, labore ullam recusandae dolorem molestias. Laborum a, ex maxime suscipit exercitationem nihil iusto? Ea, modi totam adipisci eum aut iure!"
			cta="See more"
		/>



  </section>
</Layout>