---
import Layout from '../layouts/Layout.astro'
import Links from '../components/Links.svelte'
---

<Layout title="Home">
	<div class="header">

		<div class="title">
			<h1>Garrett Siegel</h1>
			<h2>Creative Developer</h2>
			<Links />
		</div>
		
	</div>

	
	
	
</Layout>

