---
import Layout from '../layouts/Layout.astro'
import Links from '../components/Links.svelte'
---

<Layout title="Home">
	<h1>Garrett Siegel</h1>
	<h2>Creative Developer</h2>
	<Links />
</Layout>


