---
import Page from '../layouts/Page.astro'
import Card from '../components/Card.astro'
import LatestCard from '../components/LatestCard.astro'
import Companies from "../components/Companies.astro"

const home = {
	h1: "Garrett Siegel",
	h2: "Front-End Development & Visual Design",
	h3: "Building Seamless User Experiences Through Design and Code"
}

const { h1, h2, h3 } = home


---

<script>
	let sanityData

	fetch('https://1onngx25.api.sanity.io/v2022-03-07/data/query/production?query=*%5B%5D&perspective=published')
			.then(response => response.json())
			.then(data => {
					sanityData = data
					processSanityData(sanityData)
			})
			.catch(error => console.error('Error fetching data:', error))

	function processSanityData(data) {
		console.log('garrett', data.result[0].name);
		const homeStart = document.querySelector('.home__start')
		// const h2 = document.createElement('h2');
		// h2.innerHTML = data.result[0].name;
		// homeStart.appendChild(h2);
	}
</script>



<Page title="Home">

	<section class="home">

		<div class="home__start">
			<video autoplay loop muted playsinline class="headshot">
				<source src="https://res.cloudinary.com/drxro4uha/video/upload/v1704223896/ezgif.com-gif-to-mp4-converter_oegvif.mp4" type="video/mp4">
				Your browser does not support the video tag.
			</video>
		
			<h1>{h1}</h1>
			<h2>{h2}</h2>
			<h3>{h3}</h3>
		</div>

		<div class="home__intro">
			<p>👋 Hi, I'm Garrett Siegel. As a Front-End Developer and seasoned Visual Designer, I craft seamless digital experiences that blend visually appealing design aesthetics with technical expertise. Leveraging modern technologies and the latest frameworks, my diverse background in visual design adds a unique layer of storytelling and functionality to my web projects.</p>
			<p>Throughout my career, I've collaborated with organizations of all sizes, including well-known brands, honing a versatile skill set in various settings. I'm an advocate for clean code, Atomic Design, and data-driven decision-making, aiming for scalable and maintainable solutions. Committed to continuous learning and leadership, I adapt and grow in the ever-evolving landscape of web development and design.</p>
		</div>
		
		<div>
			<LatestCard />
		</div>

		<Card
			title="Front-End Web Development"
			href="/webdev"
			image=""
			alt="Screenshot of code in a VS Code editor"
			subtitle=""
			body="Explore the unique blend of design and development in my Front End Developer portfolio. Merging timeless design principles with a robust grasp of both cutting-edge and classic coding, including Vanilla JS, I create distinct digital experiences. Click here to journey through my work with design systems, dynamic coding skills, and experimentation with the newest frameworks."
			cta="See my code in action"
		/>

		<Card
			title="Graphic Design"
			href="/design"
			image=""
			alt=""
			subtitle=""
			body="Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem minus accusantium natus placeat, consequatur sit id, explicabo itaque, beatae autem excepturi. Veritatis itaque possimus sit, asperiores optio animi, nesciunt eos, labore ullam recusandae dolorem molestias. Laborum a, ex maxime suscipit exercitationem nihil iusto? Ea, modi totam adipisci eum aut iure!"
			cta="See more"
		/>

		<Card
			title="Motion Design"
			href="/motion"
			image=""
			alt=""
			subtitle=""
			body="Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem minus accusantium natus placeat, consequatur sit id, explicabo itaque, beatae autem excepturi. Veritatis itaque possimus sit, asperiores optio animi, nesciunt eos, labore ullam recusandae dolorem molestias. Laborum a, ex maxime suscipit exercitationem nihil iusto? Ea, modi totam adipisci eum aut iure!"
			cta="See more"
		/>
		<Companies />
		
	</section>
	
</Page>



<style lang="sass">
	h1
		font-size: 2rem
		text-align: center
		line-height: 0.8
		
		@media (min-width: 375px)
			font-size: 3rem


		@media (min-width: 768px)
			font-size: 4rem
			font-size: 3.5rem
			margin-top: 1rem

	h2
		font-size: 1.25rem
		text-align: center
		margin-top: 1rem

	.home
		display: flex
		flex-direction: column
		align-items: center
		padding-inline: 1rem

		@media (min-width: 768px)
			padding-inline: 0


		&__start
			// height: calc(100svh - 62px)
			display: flex
			flex-direction: column
			align-items: center
			justify-content: center

		&__intro
			margin-top: 3rem
			margin-bottom: 3rem

	.headshot
		border-radius: 50%

	p + *
		margin-top: 1rem

	.snippet
		background-color: lightgray
		padding: 1rem
		margin-top: 1rem
		img
			width: 100%
			height: 300px
			background-color: gray

	// div + *
	// 	margin-top: 1rem
</style>