---
import Layout from '../layouts/Layout.astro'
import data from '../data/data.json'
const home = data.home
---

<Layout title="Home">
	<h1>{home.h1}</h1>
	<h2>{home.h2}</h2>
</Layout>



<style lang="sass">
</style>