---
// import Links from '../components/Links.svelte'
import Layout from '../layouts/Layout.astro'
---

<Layout title="" />

<h1>Garrett Siegel</h1>
<h2>Creative Developer</h2>
<!-- <Links /> -->

<Layout />

<style>
  h1, h2 {
    font-family: sans-serif;
  }
</style>