---
import Layout from "../layouts/Layout.astro";

---

<Layout title="K&N Engineering Projects">
  <div class="k&n-work">
    <h2>K&N Engineering work</h2>
  </div>
</Layout>


<style lang="sass">
  
</style>