---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Latest Project">
  <section>
    <h2>Latest Project</h2>
    <hr>
    <h3>NFL Playoff Predictor - 2023 Refresh</h3>
    <a class="btn" href="https://www.espn.com/espn/feature/story/_/id/38686897/nfl-playoff-picture-live-updated-chances-clinch-bracket-projections-race-scenarios">
      Click here for the live version
    </a>

    <p>TODO: add case study content</p>

    <img src="https://res.cloudinary.com/drxro4uha/image/upload/v1704037022/playoff-predictor-2023_rnp4ic.jpg" alt="">
    <img src="https://res.cloudinary.com/drxro4uha/image/upload/v1689217637/data-viz_rvm6k5.jpg" alt="">
   


  </section>
</Layout>

<style lang="sass">

  

</style>