---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Latest Project">
  <article>
    <img src="https://res.cloudinary.com/drxro4uha/image/upload/v1704037022/playoff-predictor-2023_rnp4ic.jpg" alt="">
    <h2>Latest Project</h2>
    <h3>NFL Playoff Predictor - 2023 Refresh</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident quod fuga, illum sunt exercitationem doloribus nulla aspernatur architecto ut suscipit ea iste cupiditate eius asperiores inventore, voluptate harum ullam maiores voluptatibus nihil consequuntur temporibus magnam magni! Repudiandae velit obcaecati eaque natus consequuntur ullam tempora magnam, totam, nam atque aperiam dolor.</p>
    <img src="https://res.cloudinary.com/drxro4uha/image/upload/v1689217637/data-viz_rvm6k5.jpg" alt="">


  </article>
</Layout>

<style lang="sass">
  img
    max-width: 100%

</style>