---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Latest Project">
  <section>

    <h2>Latest Project</h2>
    <hr>

    <h3>2023 Update: ESPN NFL Playoff Predictor</h3>

    <div class="case-study">
      <p>The ESPN NFL Playoff Predictor is an interactive digital feature that offers real-time predictions and insights into the NFL playoffs. Leveraging live data feeds and sophisticated data visualization tools, this platform has become a go-to source for football fans seeking an in-depth analysis of playoff scenarios.</p>
      <p><span>Objective:</span> Enhance the 2022 version, focusing on code optimization, accessibility, and user engagement within the set timeframe.</p>

      <h4>Key Improvements</h4>

      <ul>
        <li><span>Accessibility:</span> Introduced new features to make the site more accessible.</li>
        <li><span>Editorial Control:</span> Enhanced controls for content editors, allowing for more dynamic content management.</li>
        <li><span>User Tracking:</span> Advanced tracking features for deeper insights into user behavior, building on last year's successful traffic and engagement metrics.</li>
        <li><span>Design Update:</span> Implemented a dark mode theme and refreshed chart styles for a modern, sleek look.</li>
      </ul>

      <p><span>Future Scope:</span> Considering the potential for this project to become an annual endeavor, plans include modularizing components for easier updates and scalability in future iterations.</p>
    </div>

    <figure>
      <img src="https://res.cloudinary.com/drxro4uha/image/upload/v1704086937/espn-nfl-playoff-probabilities-2023_v70d6m.jpg" alt="">
      <figcaption>2023 NFL Playoff Predictor on ESPN.com – The latest iteration.</figcaption>
      <a class="btn" target="_blank" href="https://www.espn.com/espn/feature/story/_/id/38686897/nfl-playoff-picture-live-updated-chances-clinch-bracket-projections-race-scenarios">
        Explore the 2023 Predictor
      </a>
    </figure>

    <figure>
      <img src="https://res.cloudinary.com/drxro4uha/image/upload/v1689217637/data-viz_rvm6k5.jpg" alt="">
      <figcaption>2022 NFL Playoff Predictor – The original version.</figcaption>
      <a class="btn" target="_blank" href="https://www.espn.com/espn/feature/story/_/id/35297537/nfl-playoff-picture-live-updated-chances-clinch-projected-bracket-scenarios-win-probabilities-interesting-races-watch">
        View the 2022 Version
      </a>
    </figure>
    
  </section>
</Layout>

<style lang="sass">
  .case-study
    span
      font-weight: 700
    & > *
      margin-top: 1rem

  figure
    background-color: lightgray
    padding: 1rem
    border-radius: 0.5rem
    margin-top: 1rem

    figcaption
      font-size: 0.9rem

    img
      width: 100%
      border-radius: 0.5rem

  .btn
    margin-top: 1rem
</style>