---

---


<div class="about">
  <div class="container"> 
    
    <p><span>About Me:</span> Lorem, ipsum dolor sit amet consectetur adipisicing elit. A, blanditiis minus quidem incidunt at similique earum quos rem, aperiam optio nulla? Officiis enim cupiditate voluptatibus!</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. A, blanditiis minus quidem incidunt at similique earum quos rem, aperiam optio nulla? Officiis enim cupiditate voluptatibus!</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. A, blanditiis minus quidem incidunt at similique earum quos rem, aperiam optio nulla? Officiis enim cupiditate voluptatibus!</p>
  </div>
</div>

<style lang="sass">
  @import '../css/mixins.sass'

  .about
    background-color: $color-secondary
    padding: 2rem

  .container
    +max-width(700px)
    margin-inline: auto

  p + p
    margin-top: 1rem

  span
    font-weight: 700



</style>