---

---


<div class="about">
  <div class="container"> 
    
    <p><span>Hi, I'm Garrett Siegel.</span>  With a foundation in visual and motion design, I'm a web developer who values clean typography and embraces effective design systems like Atomic Design, focusing on modularization and componentization to create scalable and maintainable websites. My expertise in JavaScript front-end development includes React, Svelte, along with frameworks like Next.js and Astro, and static site generators like Hugo. My portfolio spans sports journalism and e-commerce UI design, emphasizing responsive, data-driven sites. A highlight of my work is the ESPN NFL Playoffs Probability website, attracting over 4 million views annually, demonstrating my capability in delivering high-impact projects.</p>

    <p>I am deeply committed to continuous learning and staying abreast of the latest technology trends to keep my work at the cutting edge. Below are selected projects that showcase my dedication to web development excellence. Let's connect.</p>
   
  </div>
</div>

<style lang="sass">
  @import '../css/mixins.sass'

  .about
    background-color: $color-secondary
    padding: 2rem

  .container
    +max-width(700px)
    margin-inline: auto

  p + p
    margin-top: 1rem

  span
    font-weight: 700



</style>