---
import ESPN from '../components/logos/espn.astro'
import Kroger from '../components/logos/kroger.astro'
import Microsoft from '../components/logos/microsoft.astro'
import KandN from '../components/logos/kandn.astro'
import RTIC from '../components/logos/rtic.astro'
---

<div class="module companies">
  <h2>Trusted By Industry Leaders</h2>
  <p>
    From startups to industry giants, I've collaborated with a variety of
    companies to deliver high-quality web and visual design solutions.
  </p>

  <div class="companies__container">
    <div class="companies__company">
      <ESPN />
    </div>

    <div class="companies__company">
      <Kroger />
    </div>

    <div class="companies__company">
      <Microsoft />
    </div>

    <div class="companies__company">
      <KandN />
    </div>

    <div class="companies__company">
      <RTIC />
    </div>
  </div>
</div>


<style lang="sass">
  .companies
    margin-top: 1rem
    max-width: 90%
    border-bottom: 1px solid #303030
    border-top: 1px solid #303030
    padding-top: 2rem
    padding-inline: 1rem

    @media (min-width: 768px)
      max-width: 700px
      padding-inline: 0

    h2
      text-align: center
      font-size: 1.25rem

      @media (min-width: 768px)
        font-size: 1.5rem

    p
      text-align: center
      margin-top: 0.5rem

    &__container
      display: flex
      align-items: center
      justify-content: space-around
      flex-wrap: wrap
      max-width: 700px
      width: 100%
      padding-bottom: 2rem
      // margin-top: 1rem
      @media (min-width: 768px)
        justify-content: space-between
        padding-bottom: 2rem

      @media (min-width: 1024px)
        padding-bottom: 1rem
        // margin-top: 2rem

    &__company
      svg
        width: 80px
        fill: #000

      @media (min-width: 768px)
        width: 85px

    &__company + *
      margin-left: 1.5rem
</style>