<div class="design__header--wrapper">
  <div class="design__header">
    <h2>Design</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus veritatis cumque itaque tenetur, voluptas quisquam in ex ipsa modi officiis nihil dolor dolore voluptates illo autem, quia iusto ea adipisci exercitationem, accusamus sed? Repudiandae nihil nemo saepe nesciunt assumenda earum labore explicabo, iste atque quibusdam blanditiis, modi rem aspernatur magni.</p>
  </div>
</div>

<!-- 
<div class="design">
  
  <div class="grid">
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
  </div>
</div> -->

<style lang="sass">
  @import '../css/mixins.sass'

  .design__header
    padding: 2rem
    margin-top: 3rem
    +max-width(700px)
    margin-inline: auto
    text-align: center

    &--wrapper
      background-color: $color-gray-lt


    h2
      font-size: 1.25rem
      line-height: 0.9
      font-family: Syne, sans-serif
      font-weight: 800
      text-transform: uppercase

      +from(xs)
        font-size: 2rem

    p
      margin-top: 1rem

  .design 
    height: 100vh
    // width: 100%
    // margin-top: 1rem


    // +from(s)
      // display: grid
      // grid-template-columns: repeat(6, 1fr)
      // grid-template-rows: repeat(6, 1fr)
      // grid-column-gap: 0px
      // grid-row-gap: 0px
      // height: 75vh
  
  .grid
    display: grid
    grid-template-columns: repeat(3, 1fr)
    // grid-template-rows: repeat(6, 1fr)
    grid-column-gap: 0px
    grid-row-gap: 0px
    height: 100%
    // width: 100%
    background-color: orange
  
  .grid-item
    background: #eee
    border: 1px solid $color-black
    // +flex($align: center, $justify: center)
    // position: relative
    // height: calc(150vh / 6)

    +from(s)
      // height: 100%

    img
      width: 100%
      height: 100%
      object-fit: cover
  // & > * 
  //   background: #eee
  //   border: 1px solid $color-black
  //   +flex($align: center, $justify: center)
  //   position: relative
  //   height: calc(150vh / 6)

  //   +from(s)
  //     height: 100%

  //   img
  //     width: 100%
  //     height: 100%
  //     object-fit: cover
  
  // .div1
  //   grid-area: 1 / 1 / 5 / 3
  //   img
  //     object-position: 0 0
  // .div2
  //   grid-area: 5 / 1 / 7 / 3
  // .div3
  //   grid-area: 1 / 3 / 4 / 5
  // .div4
  //   grid-area: 4 / 3 / 7 / 5
  // .div5
  //   grid-area: 1 / 5 / 4 / 7
  // .div6
  //   grid-area: 4 / 5 / 7 / 7
  //   img
  //     object-position: 0 0
</style>

  