---
import Links from "../components/Links.astro";
const currentYear = new Date().getFullYear()
---

<footer>
  <h3>Let's connect</h3>
  <a href="tel:+15613101404">561-310-1404</a>
  <a href="mailto: garrett@submurgedcreative.com">garrett@submurgedcreative.com</a>
  <Links />
  <p>&copy; {currentYear} Garrett Siegel. All Rights Reserved.<br>Front-End Web Developer & Visual Designer</p>

</footer>

<style lang="sass">
  footer
    display: flex
    flex-direction: column
    align-items: center
    background-color: lightgray
    padding: 1rem

    & > *
      margin-bottom: 0.5rem

    h3
      font-size: 1.25rem
      font-family: syne, sans-serif
      font-weight: 800
      text-transform: uppercase

    p
      font-size: 0.8rem
</style>