---
import Links from "../components/Links.astro";

---

<footer>
  <p>todo: add footer</p>
  <Links />
</footer>

<style lang="sass">
  footer
    background-color: lightgray
    padding: 1rem
</style>