---

const { title } = Astro.props;
---

<head>
  <script 
    type="text/partytown"
    async
    src="https://www.googletagmanager.com/gtag/js?id=G-RJR4PSTKXY"
    ></script>
  <script type="text/partytown">
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-RJR4PSTKXY');
  </script>
  <meta charset="UTF-8" />
  <meta name="description" content="Astro description" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/favicon.png" />
  <meta name="generator" content={Astro.generator} />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&amp;family=Syne:wght@400;500;700;800&amp;display=swap" rel="stylesheet">
  <title>{title} - Garrett Siegel - Front-End Web Developer / Visual Designer</title>
</head>