---
import data from "../data/data.json"
const latestSnippet = data.latest.snippet
---

<div class="latest-snippet">
  <h3>Latest Project</h3>
  <img src={latestSnippet.img} alt={latestSnippet.alt}>
  <h4>{latestSnippet.title}</h4>
  <p>{latestSnippet.desc}</p>
  <a href="/latest">Click to see more</a>
  
</div>

<style lang="sass">
  .latest-snippet
    background-color: lightgray
    padding: 1rem

    a
      margin-top: 1rem
  
</style>