---
import GithubIcon from '../components/logos/github.astro'
import LinkedInIcon from '../components/logos/linkedin.astro'
import CodepenIcon from '../components/logos/codepen.astro'
import BehanceIcon from '../components/logos/behance.astro'
import UpworkIcon from '../components/logos/upwork.astro'
import TwitterIcon from '../components/logos/twitter.astro'

const links = [
    {
      "label": "Github",
      "url": "https://github.com/garrettsiegel",
      "icon": GithubIcon,
      "alt": "Github icon"
    },
    {
      "label": "LinkedIn",
      "url": "https://www.linkedin.com/in/garrettsiegel/",
      "icon": LinkedInIcon,
      "alt": "LinkedIn icon"
    },
    {
      "label": "Codepen",
      "url": "https://codepen.io/garrettsiegel/pens/public",
      "icon": CodepenIcon,
      "alt": "Codepen icon"
    },
    {
      "label": "Behance",
      "url": "https://www.behance.net/gsiegel",
      "icon": BehanceIcon,
      "alt": "Behance icon"
    },
    {
      "label": "Upwork",
      "url": "https://www.upwork.com/freelancers/garrettsubmurged",
      "icon": UpworkIcon,
      "alt": "Upwork icon"
    },
    {
      "label": "Twitter / X",
      "url": "https://twitter.com/garrettDoesCode",
      "icon": TwitterIcon,
      "alt": "Twitter/X icon"
    }    
  ]
---

<div class="links">
  <ul>
    {links.map((link) => (
      <li class="link">
        <a href={link.url} target="_blank" aria-label="Descriptive text about the link" rel="noopener noreferrer">
          <link.icon />
        </a>
      </li>
    ))}
  </ul>
</div>


<style lang="sass" is:global>
  .links
    ul
      display: flex
      align-items: center
      list-style: none

  .link
    & + *
      margin-left: 1rem

    svg
      max-width: 30px
      transition: all 0.2s ease-in-out
      &:hover
        transform: scale(1.1)

    &__label
      display: none
</style>