---
import Links from '../components/Links.astro'
import Gicon from '../components/logos/g-icon.astro'

const nav = [
  {
    "name": "Home",
    "url": "/",
    "icon": ""
  },
  {
    "name": "About",
    "url": "/about"
  },
  {
    "name": "Latest",
    "url": "/latest"
  },
  {
    "name": "WebDev",
    "url": "/webdev"
  },
  {
    "name": "Design",
    "url": "/design"
  },
  {
    "name": "Motion",
    "url": "/motion"
  }
]



---
<div class="nav-wrapper">
  <div class="burger">
    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 128 128">
      <path fill="#fff" d="M64 14A50 50 0 1 0 64 114A50 50 0 1 0 64 14Z"></path><path fill="#444b54" d="M64,117c-29.2,0-53-23.8-53-53s23.8-53,53-53s53,23.8,53,53S93.2,117,64,117z M64,17c-25.9,0-47,21.1-47,47s21.1,47,47,47s47-21.1,47-47S89.9,17,64,17z"></path><path fill="#444b54" d="M86.5 52h-45c-1.7 0-3-1.3-3-3s1.3-3 3-3h45c1.7 0 3 1.3 3 3S88.2 52 86.5 52zM86.5 67h-45c-1.7 0-3-1.3-3-3s1.3-3 3-3h45c1.7 0 3 1.3 3 3S88.2 67 86.5 67z"></path><g><path fill="#444b54" d="M86.5,82h-45c-1.7,0-3-1.3-3-3s1.3-3,3-3h45c1.7,0,3,1.3,3,3S88.2,82,86.5,82z"></path></g>
    </svg>
  </div>
  <nav>
    <ul>
      {nav.map((item) => (
        <li>
          <a href={item.url}>
            {item.icon ? <Gicon /> : item.name}
            <span class="visually-hidden">{item.name}</span>
          </a>
        </li>
      ))}
    </ul>
    <Links />
  </nav>
</div>


<script>
  const burger = document.querySelector('.burger')
  const navbar = document.querySelector('nav')

  burger.addEventListener('click', () => {
    navbar.classList.toggle('active')
  })
</script>

<style lang="sass" is:global>
  @import '../css/mixins.sass'
  .nav-wrapper
    position: relative
    background-color: #fff

  .burger
    display: block
    height: 50px

    
    
    +from(s)
      display: none

    svg
      position: absolute
      left: 1rem
      top: 10px
      +ease-transition
      &:hover
        transform: scale(1.1)

  nav
    padding: 1rem
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    display: none
    height: 100vh
    +ease-transition

    &.active
      display: flex
      
    +from(s)
      align-items: flex-start
      display: flex
      height: auto
      justify-content: flex-start

    +from(m)
      flex-direction: row
      align-items: center

    svg
      width: 30px

    ul
      display: flex
      flex-direction: column
      align-items: center

      +from(s)
        margin-right: auto
        flex-direction: row
        margin-bottom: 0.5rem

      +from(m)
        margin-bottom: 0
        
    li
      list-style: none
      font-size: 0.9rem
      font-weight: 900
      text-transform: uppercase

      & + *
        margin-top: 0.5rem
        +from(s)
          margin-top: 0
          margin-left: 1rem
</style>
