---
import Links from '../components/Links.astro'
import Gicon from '../components/logos/g-icon.astro'

const nav = [
  {
    "name": "Home",
    "url": "/",
    "icon": Gicon
  },
  {
    "name": "About",
    "url": "/about"
  },
  {
    "name": "Latest Project",
    "url": "/latest"
  },
  {
    "name": "WebDev",
    "url": "/webdev"
  },
  {
    "name": "Design",
    "url": "/design"
  },
  {
    "name": "Motion",
    "url": "/motion"
  }
]
---

<nav>
  <ul>
    {nav.map((item) => (
      <li>
        <a href={item.url}>
          {item.icon ? <Gicon /> : item.name}
          <span class="visually-hidden">{item.name}</span>
        </a>
      </li>
    ))}
  </ul>
  <Links />
</nav>

<style lang="sass" is:global>
  nav
    padding: 1rem
    display: flex
    flex-direction: column
    align-items: center

    @media (min-width: 375px)
      align-items: flex-start

    @media (min-width: 768px)
      flex-direction: row
      align-items: center

    svg
      width: 30px

    ul
      display: flex
      flex-direction: column
      align-items: center
      margin-bottom: 1rem

      @media (min-width: 375px)
        margin-right: auto
        flex-direction: row
        margin-bottom: 0.5rem

      @media (min-width: 768px)
        margin-bottom: 0
        
    li
      list-style: none
      font-size: 0.9rem
      font-weight: 900
      text-transform: uppercase

      & + *
        margin-top: 0.5rem
        @media (min-width: 375px)
          margin-top: 0
          margin-left: 1rem
</style>
