---
import data from '../data/data.json'
import Links from '../components/Links.astro';
const nav = data.nav
---

<nav>
  <ul>
    {nav.map((item) => (
      <a href={item.url}>
        <li class="nav__li">{item.name}</li>
      </a>
    ))}
  </ul>
  <Links />
</nav>


<style lang="sass">
  nav
    background-color: lightgray
    padding: 1rem
    display: flex
    align-items: center

    ul
      display: flex
      margin-right: auto

    li
      list-style: none

    a
      & + *
        margin-left: 1rem
</style>