---
import HTMLIcon from '../components/logos/html.astro'
import CSSIcon from '../components/logos/css.astro'
import JSIcon from '../components/logos/js.astro'
import ReactIcon from '../components/logos/react.astro'
import NextIcon from '../components/logos/next.astro'
import AstroIcon from '../components/logos/astro.astro'
import GSAPIcon from '../components/logos/gsap.astro'
import HugoIcon from '../components/logos/hugo.astro'
import HandlebarsIcon from '../components/logos/handlebars.astro'
import SASSIcon from '../components/logos/sass.astro'
import TailwindIcon from '../components/logos/tailwind.astro'
import ViteIcon from '../components/logos/vite.astro'

const techStack = [
  { name: 'HTML', Icon: HTMLIcon },
  { name: 'CSS', Icon: CSSIcon },
  { name: 'JavaScript', Icon: JSIcon },
  { name: 'React', Icon: ReactIcon },
  { name: 'Next.js', Icon: NextIcon },
  { name: 'Astro', Icon: AstroIcon },
  { name: 'GSAP', Icon: GSAPIcon },
  { name: 'Hugo', Icon: HugoIcon },
  { name: 'Handlebars', Icon: HandlebarsIcon },
  { name: 'SASS', Icon: SASSIcon },
  { name: 'Tailwind', Icon: TailwindIcon },
  { name: 'Vite', Icon: ViteIcon },
]
---

<div class="module tech">
  <h2 class="tech__headline">Current Front End Technologies</h2> 
  <div class="tech__skills">
    {techStack.map(({ Icon }) => (
      <div class="tech__skill">
        <Icon />
      </div>
    ))}
  </div>
</div>

<style lang="sass" is:global>
  @import '../css/mixins.sass'
  .tech
    margin-block: 1rem
    +max-width(1000px)
    margin-inline: auto
    height: 100vh

    &__headline
      font-size: 1.25rem
      text-align: center
      max-width: 80%
      margin-inline: auto

      +from(s)
        font-size: 1.5rem
        max-width: 100%

    &__skills
      display: grid
      grid-template-columns: repeat(4, 1fr)
      grid-gap: 1rem
      margin-top: 1rem
      padding-inline: 1rem

      +from(s)
        grid-template-columns: repeat(6, 1fr)

      +from(m)
        grid-template-columns: repeat(8, 1fr)
        padding-inline: 0

    &__skill
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
      padding-top: 0.5rem
      border-radius: 0.5rem

      svg
        width: 30px
</style>


<script>
  import { AnimateLogos } from '../js/animateLogos.js'
  new AnimateLogos()
</script>