<div class="webdev">

  <div class="title">
    <div class="title-container">
      <h2>Latest Web Development Highlights</h2>
      <p>Below are highlights from my recent web development projects, showcasing a range of skills from responsive design to dynamic web applications. Each project reflects my commitment to innovative solutions and user-centric experiences.</p>
    </div>
    
  </div>

  <div class="flex">

    <div class="flex-item item-1 expanded">
      <div class="info">
        <h3>57 Super Bowl Rings, 57 Stories</h3>
        <p>An evolving project that I've contributed to, showcasing the rich history of Super Bowl rings with updates added annually for each new winning team. This Gulp and Vanilla JS project emphasizes accessibility enhancements, improved tracking metrics, and performance optimizations, including native HTML lazy loading and video size reductions. Plans are in place to revamp the architecture for greater modularity in the upcoming season.</p>
        <a href="https://www.espn.com/espn/feature/story/_/id/28360921/look-championship-ring-every-super-bowl" target="_blank">View Project</a>
      </div>
      <img src="https://a.espncdn.com/prod/styles/pagetype/otl/2022/220202_nfl_super-bowl-rings/images/header_1280x720.jpg" alt="">
    </div>
    <div class="flex-item item-2">
      <div class="info">
        <h3>Live NFL Playoff Picture Updates (2023)</h3>
        <p>In its second year, this project dynamically showcases NFL teams' live playoff probabilities through interactive charts and real-time data. This year, significant enhancements included a design overhaul, a refactoring of data controls to empower the project data team with user-end setup capabilities, and major accessibility improvements. The success of this format has paved the way for its application across future sports projects, demonstrating a commitment to both user accessibility and backend flexibility.</p>
        <a href="https://www.espn.com/espn/feature/story/_/id/38686897/nfl-playoff-picture-live-updated-chances-clinch-bracket-projections-race-scenarios" target="_blank">Visit Project</a>
      </div>
      <img src="https://res.cloudinary.com/drxro4uha/image/upload/v1704037022/playoff-predictor-2023_rnp4ic.jpg" alt="">
    </div>
    <div class="flex-item item-3">
      <div class="info">
        <h3>How quickly do 31 QBs earn Purdy's $870K?</h3>
        <p>This innovative project juxtaposes the salary of NFL Quarterback Brock Purdy against those of other starting quarterbacks in the league. Crafted using Hugo, Vanilla JavaScript, and GSAP, it features an interactive slider bar at the top of the screen, allowing users to visually compare salaries and discern how many playing minutes it takes for each quarterback to earn Purdy's $870K</p>
        <a href="https://www.espn.com/espn/feature/story/_/id/38512080/nfl-quarterbacks-earn-san-francisco-49ers-brock-purdy-salary" target="_blank">View Project</a>
      </div>
      <img src="https://res.cloudinary.com/drxro4uha/image/upload/v1697894718/brock1_16x9_rkmyzk.jpg" alt="">
    </div>
    <div class="flex-item item-4">
      <div class="info">
        <h3>Calculating Shohei Ohtani's True Player Value</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum inventore aperiam cumque unde placeat impedit. Ullam, aliquam eligendi. Dolorum aliquam ad animi, doloremque at necessitatibus!</p>
        <a href="https://www.espn.com/espn/feature/story?id=38047971&_slug_=ohtani-true-value-calculator" target="_blank">See More</a>
      </div>
      <img src="https://res.cloudinary.com/drxro4uha/image/upload/v1693172127/ohtani-bkgd_uaxc79.jpg" alt="">
    </div>
    <div class="flex-item item-5">
      <div class="info">
        <h3>Sneaker Smarter</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum inventore aperiam cumque unde placeat impedit. Ullam, aliquam eligendi. Dolorum aliquam ad animi, doloremque at necessitatibus!</p>
        <a href="https://www.sneakersmarter.com" target="_blank">See More</a>
      </div>
      <img src="https://res.cloudinary.com/drxro4uha/image/upload/v1706497046/Screenshot_2024-01-28_at_9.57.10_PM_ctfycs.png" alt="">
    </div>
    <div class="flex-item item-6">
      <div class="info">
        <h3>The Fantasy Football Name Generator</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum inventore aperiam cumque unde placeat impedit. Ullam, aliquam eligendi. Dolorum aliquam ad animi, doloremque at necessitatibus!</p>
        <a href="https://www.espn.com/espn/feature/story/_/id/37726817/fantasy-football-team-nfl-name-generator" target="_blank">See More</a>
      </div>
      <img src="https://res.cloudinary.com/drxro4uha/image/upload/v1693172270/intro_1125x450_desktop_xcapor.jpg" alt="">
    </div>
    <div class="flex-item item-7">
      <div class="info">
        <h3>My Wish - Every Sports Wish Granted</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum inventore aperiam cumque unde placeat impedit. Ullam, aliquam eligendi. Dolorum aliquam ad animi, doloremque at necessitatibus!</p>
        <a href="https://www.espn.com/espn/feature/story/_/id/37812990/every-sports-wish-granted-espn" target="_blank">See More</a>
      </div>
      <img src="https://res.cloudinary.com/drxro4uha/image/upload/v1694193978/2_vggycv.jpg" alt="">
    </div>
    <div class="flex-item item-8">
      <div class="info">
        <h3>Listen - Four-year ESPN probe traces institutional failures</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum inventore aperiam cumque unde placeat impedit. Ullam, aliquam eligendi. Dolorum aliquam ad animi, doloremque at necessitatibus!</p>
        <a href="https://www.espn.com/espn/feature/story?id=34212123&_slug_=investigative-mccluskey" target="_blank">See More</a>
      </div>
      <img src="https://res.cloudinary.com/drxro4uha/image/upload/v1689214360/mccluskey_zyw58l.jpg" alt="">
    </div>
    <div class="flex-item item-9">
      <div class="info">
        <h3>Text2CSS Figma Plugin</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum inventore aperiam cumque unde placeat impedit. Ullam, aliquam eligendi. Dolorum aliquam ad animi, doloremque at necessitatibus!</p>
        <a href="https://www.figma.com/community/plugin/1303474998141560446/text2css" target="_blank">See More</a>
      </div>
      <img src="https://res.cloudinary.com/drxro4uha/image/upload/v1706497181/Screenshot_2024-01-28_at_9.59.24_PM_vlppy7.png" alt="">
    </div>
    <div class="flex-item item-10">
      <div class="info">
        <h3>K&N Engineering</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum inventore aperiam cumque unde placeat impedit. Ullam, aliquam eligendi. Dolorum aliquam ad animi, doloremque at necessitatibus!</p>
        <a href="https://www.knfilters.com" target="_blank">See More</a>
      </div>
      <img src="https://res.cloudinary.com/drxro4uha/image/upload/v1689453207/knfilters_wxa6c2.jpg" alt="">
    </div>
    <div class="flex-item item-11">
      <div class="info">
        <h3>Head-To-Head: Hiring in the NFL</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum inventore aperiam cumque unde placeat impedit. Ullam, aliquam eligendi. Dolorum aliquam ad animi, doloremque at necessitatibus!</p>
        <a href="https://andscape.com/features/nfl-coach-comparisons-in-rooney-rule-era/" target="_blank">See More</a>
      </div>
      <img src="https://res.cloudinary.com/drxro4uha/image/upload/v1689217637/design-systems_uf7ovv.jpg" alt="">
    </div>
    <div class="flex-item item-12">
      <div class="info">
        <h3>A BEGINNER'S GUIDE TO F1 TERMS AND TECH</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum inventore aperiam cumque unde placeat impedit. Ullam, aliquam eligendi. Dolorum aliquam ad animi, doloremque at necessitatibus!</p>
        <a href="https://www.espn.com/espn/feature/story/_/id/36180474/f1-terms-explained" target="_blank">See More</a>
      </div>
      <img src="https://res.cloudinary.com/drxro4uha/image/upload/v1689214419/f1_wdsyhj.webp" alt="">
    </div>
    <div class="flex-item item-13">
      <div class="info">
        <h3>2022 NFL Playoff Picture</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum inventore aperiam cumque unde placeat impedit. Ullam, aliquam eligendi. Dolorum aliquam ad animi, doloremque at necessitatibus!</p>
        <a href="https://www.espn.com/espn/feature/story/_/id/35297537/nfl-playoff-picture-live-updated-chances-clinch-projected-bracket-scenarios-win-probabilities-interesting-races-watch" target="_blank">See More</a>
      </div>
      <img src="https://res.cloudinary.com/drxro4uha/image/upload/v1689217637/data-viz_rvm6k5.jpg" alt="">
    </div>
  </div>
</div>

<script>
  document.querySelectorAll('.flex-item').forEach(item => {
    item.addEventListener('click', () => {
      document.querySelectorAll('.flex-item').forEach(item => {
        item.classList.remove('expanded')
      })
      item.classList.toggle('expanded')
    })
  })
</script>

<style lang="sass">
  @import '../css/mixins.sass'

  .webdev
    height: 150vh
    width: 100vw
    +from(m)
      height: 85vh

  .title
    +flex($direction: column, $align: center, $justify: center)
    text-align: center
    background-color: $color-primary
    padding-inline: 1rem
    padding-block: 1.5rem

    &-container
      +max-width(700px)

    h2
      font-size: 1.25rem
      line-height: 0.9
      font-family: Syne, sans-serif
      font-weight: 800
      text-transform: uppercase

      +from(xs)
        font-size: 2rem

    p
      margin-top: 1rem

  .flex
    height: 90%

    +from(m)
      height: 85%

    +from(m)
      +flex

  .flex-item
    height: calc(50% / 12)
    overflow: hidden
    position: relative
    transition: all 0.4s ease-in
    border: 2px solid #fff

    +from(m)
      height: 100%
      width: calc(50% / 12)

    img
      object-fit: cover
      width: 100%
      height: 100%

    &.expanded
      height: 50%
      +from(m)
        width: 50%
        height: 100%

      .info
        visibility: visible
        opacity: 1
        height: 100%
        width: 100%
        transition: opacity 0.4s ease-in 0.3s

  .info
    position: absolute
    color: #fff
    width: 100%
    height: 100%
    +flex($direction: column, $align: flex-start, $justify: flex-end)
    background-color: rgba(0,0,0,0.7)
    visibility: hidden
    opacity: 0
    height: 0
    width: 0
    padding: 1rem
    transition: opacity 0.4s ease-in 0.4s

    h3
      font-size: 1.25rem
      line-height: 1.3

    p
      font-size: 0.8rem
      line-height: 1.3
      margin-top: 0.5rem

    a
      margin-top: 0.75rem
      padding: 0.5rem 1rem
      border: 1px solid #fff
      background-color: #ffffff30
      color: #fff
      font-size: 0.8rem
      text-transform: uppercase
      transition: all 0.4s ease-in
      cursor: pointer
      text-decoration: none



  // .webdev
  //   height: 75vh
  //   width: 100vw
  //   background-color: red
  //   display: inline-block

  // .flex 
  //   +flex($direction: column)
  //   width: 100%
  //   // height: 100%
  //   background-color: green
  //   display: block

  //   +from(xs)
  //     +flex($direction: row)

  // .flex-item
  //   border: 1px solid black
  //   transition: all 0.4s ease-in
  //   overflow: hidden
  //   height: calc(100% / 13)
  //   width: 100%
  //   position: relative
  //   +from(xs)
  //     width: calc(100% / 13)
  //     height: 100%

  //   img
  //     width: 100%
  //     height: 100%
  //     object-fit: cover
  //     transition: all 0.3s ease-in-out

  // .inner
  //   visibility: hidden
  //   opacity: 0
  //   height: 0
  //   width: 0
  //   position: absolute
  //   top: 50%
  //   left: 50%
  //   transform: translate(-50%, -50%)
  //   background-color: #00000080
  //   color: #fff
  //   transition: opacity 0.3s ease-in-out
  //   +flex($direction: column, $align: center, $justify: center)
    
  // .expanded
  //   width: 100%
  //   height: 100%
  //   +from(xs)
  //     width: 50%
  //     height: 100%

  //   .inner
  //     visibility: visible
  //     opacity: 1
  //     // delay the transition so it doesn't start until the width is done
      
  //     height: 100%
  //     width: 100%

  //     h3, button
  //       transition: all 0.4s ease-in 0.4s

  //   .flex-item
  //     height: calc(100% / 13)
  //     +from(xs)
  //       width: calc(100% / 13)

  
    

  



</style>