---
import Head from '../components/Head.astro'
const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <Head title={title} />
	<body>
		<slot />
	</body>
</html>

<style>
	@import '../css/reset.css';
</style>