---
import Nav from '../components/Nav.astro'
import Footer from '../components/Footer.astro'
import Head from '../components/Head.astro'

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
	<Head title={title} />
	<body>
		<Nav />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>


<style is:global lang="sass">
	@import '../css/mixins.sass'

	*
		font-family: Inter, sans-serif
		font-weight: 400
		font-size: 1rem
		margin: 0
		padding: 0
		box-sizing: border-box

	h1
		font-family: syne, sans-serif
		font-weight: 800
		text-transform: uppercase

	h2
		font-size: 2rem
		text-transform: uppercase

	h2, h3, h4, h5, h6
		font-weight: 900

	section
		+max-width(700px)
		margin-inline: auto
		margin-block: 1rem

	img
		+max-width(100%)

	.button
		+button-reset
		background-color: $color-primary
		color: $color-white
		padding: 0.75rem 1.25rem
		border-radius: 0.5rem
		letter-spacing: 1px
		+ease-transition

		&:hover
			background-color: #B0B7BC
			color: $color-white

	a
		display: inline-block
		font-weight: 900
		text-decoration: none
		+ease-transition
		color: #333

		&:hover
			color: #555

		svg
			+max-width(30px)
			+ease-transition
			&:hover
				transform: scale(1.1)

	.todo
		background-color: orange
		padding: 1rem
		margin-block: 1rem
		font-weight: 900
		color: firebrick
		border: 3px solid yellow
		
</style>